body {
    font-family: system-ui, sans-serif;
    margin: 0;
    line-height: 1.6;
    color: #222;
    height: 100dvh;
    display: flex;
    flex-direction: column;
}
header, footer {
    background: #f4f4f4;
    padding: 1rem 2rem;
}
canvas {
    flex: 1;        /* fill the remaining height */
    min-height: 0;  /* prevents overflow/scrolling */
    width: 98%;
    margin: 0 auto 1.0rem;
}